<section class="hero">
  <div class="overlay"></div>
  <div class="hero-content">
    <h1>
      Welcome to <span class="highlight">Digital Bond</span>
    </h1>
    <p>Creating <span class="highlight">amazing digital experiences</span></p>
    <button (click)="scrollToServices()"  class="text-decoration-none pointer btn-hero">
      Explore Our Services <i class="fas fa-arrow-right"></i>
    </button>

    <div class="social-icons">
      <button target="_blank"><i class="fab fa-whatsapp pointer"></i></button>
      <button target="_blank"><i class="fab fa-linkedin pointer"></i></button>
      <button target="_blank"><i class="fab fa-facebook pointer"></i></button>
      <button target="_blank"><i class="fab fa-twitter pointer"></i></button>
    </div>
  </div>
</section>