*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --waite-color: rgba(255, 255, 255, 1);
  --main-color: #ab0202;
  --gray-color: #f1ededf2;
  --black-color:#000000;
}
.pointer {
  cursor: pointer;
}
[appScrollReveal] {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-in-out;
}

[appScrollReveal].show {
  opacity: 1;
  transform: translateY(0);
}




